name : Infra create for app by terraform
on : [workflow_dispatch]

jobs:
  DEV-APPLY:
    runs-on : ubuntu-latest
    steps: 
              
      #install terraform
      - name : Terraform setup
        uses : hashicorp/setup-terraform@v3
        
              
      #Connect to aws via configure aws in agent
      - name : Configure AWS 
        uses : aws-actions/configure-aws-credentials@v4
        with :
          aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
          aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
          aws-region: ${{secrets.AWS_REGION}}

      - name: Create S3 bucket
        uses: aitorres/aws-s3-create-bucket@v1.2.0
        with:
          bucket-name: 'karthi-bucket2025' # Replace with your desired unique bucket name
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: 'us-east-1' # Specify your desired AWS region
          acl: 'private' # Or other valid ACL values like 'public-read'

              
        # code checkout   
      - name : code checkout
        uses : actions/checkout@v4
      - name : Terraform init
        run : terraform init -backend-config=env-dev/state.tfvars
      #- name : Terraform plan
      #  run : terraform plan -var-file=env-dev/main.tfvars    
      
      - name: Terraform apply
        run : terraform apply -var-file=env-dev/main.tfvars